<div class="flex-container">
  <% @hash_data.each do |key, value| %>
    <div class="box">
      <span>
        <b><%= "#{value["secondary_currency"]}/#{value["primary_currency"]}" %></b>
      </span>
      <br />

      <%= convert_thb(value, @btc_bth) %>
      <br />

      <%= value["change"] %>%
    </div>
  <% end %>
</div>
