<div class="box-content">
  <%= simple_form_for(@portfolio, html: { class: "form-horizontal" }) do |form| %>
    <%= form.input :slug %>
    <%= form.submit nil, class: "btn btn-md btn-success" %>
  <% end %>
</div>
